<nb-layout>

  <nb-layout-column>

    <nb-card>

      <nb-card-body>

        <h1>Login</h1>
        <p class="sub-title">Welcome! Use your email to login.</p>

        <form (ngSubmit)="onLoginEmail()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" required [(ngModel)]="email">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
          </div>
          <button nbButton fullWidth type="submit" status="success">Login</button>
        </form>

      </nb-card-body>

    </nb-card>

  </nb-layout-column>

</nb-layout>
