<button nbButton status="success" (click)="extractTextFromDom()">Test OCR Service</button>
<nb-layout>
  <nb-layout-column>
      <app-contact-details [canEdit]="true" [businessCard]="newBusinessCard"></app-contact-details>
  </nb-layout-column>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
          <img [src]="imageUrlSrc" id="webImage" class="img-fluid">
          <button nbButton (click)="extractTextFromWebImage()">Extract Text</button>
      </nb-card-header>
      <nb-card-body>

        <nb-tabset fullWidth>
          <nb-tab tabTitle="From Camera" tabIcon="nb-notifications" responsive>
            <nb-card>
              <nb-card-header>
                <button nbButton (click)="triggerSnapshot();">Take A Snapshot</button>
                <button nbButton (click)="toggleWebcam();">Toggle Webcam</button>
              </nb-card-header>
              <nb-card-body>
                <webcam
                  *ngIf="showWebcam"
                  [trigger]="triggerObservable"
                  (imageCapture)="handleImage($event)"
                  [allowCameraSwitch]="allowCameraSwitch"
                  [switchCamera]="nextWebcamObservable"
                  [videoOptions]="videoOptions"
                  (cameraSwitched)="cameraWasSwitched($event)"
                  (initError)="handleInitError($event)">
                </webcam>
              </nb-card-body>
            </nb-card>
          </nb-tab>

          <nb-tab tabTitle="From Web" tabIcon="nb-cloudy" responsive>
            <p>GRAB IMAGE FROM THE WEB HERE</p>
            <div class="form-group">
              <label for="url">url</label>
              <input type="url" class="form-control" id="url" name="url" nbInput placeholder="https://example.com/my-image.jpg" required #url>
            </div>
            <button nbButton (click)="setImageUrlSrc(url.value)">Choose Image</button>
          </nb-tab>
          <nb-tab tabTitle="From File" tabIcon="nb-url" responsive>
            <p>LOAD IMAGE FROM FILE HERE</p>
            <input nbInput type="file" (change)="onFileChanged($event)">
          </nb-tab>
        </nb-tabset>

      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>

