<nb-layout>

  <nb-layout-header fixed>
    <nav>
        <button nbButton status="success" routerLink="">
          <i class="nb-home"></i>
          <span>Home</span>
        </button>
        <button nbButton status="success" routerLink="contacts/add">
          <i class="nb-plus"></i>
          <span>Add Contact</span>
        </button>
        <button nbButton status="success" routerLink="history">
          <i class="nb-compose"></i>
          <span>History</span>
        </button>
        <button nbButton status="success" (click)="logout()">Logout</button>
    </nav>


  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
