<nb-layout>

  <nb-layout-header>

    <div class="container">
      <nb-actions fullWidth>
        <nb-action>
            <button nbButton status="success" routerLink="">
                <i class="nb-home"></i>
                <span>Home</span>
              </button>
        </nb-action>
        <nb-action>
          <button nbButton status="success" routerLink="contacts/add">
            <i class="nb-plus"></i>
            <span>Add Contact</span>
          </button>
        </nb-action>
        <nb-action>
          <button nbButton status="success" routerLink="history">
              <i class="nb-compose"></i>
              <span>History</span>
              <small> Admins only </small>
            </button>
        </nb-action>
        <nb-action>
          <button nbButton status="success" (click)="logout()">Logout</button>
        </nb-action>
      </nb-actions>
    </div>

  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
