<nb-card>
  <nb-card-header>
    <span>Contact List</span>
    <input type="text" nbInput>
    <button nbButton>Search</button>
  </nb-card-header>
  <nb-card-body>
    <nb-list *ngIf="contacts">
        <nb-list-item *ngFor="let contact of contacts">
          <nb-user
            name="{{ contact.businessCard.firstName + ' ' + contact.businessCard.lastName}}"
            title="{{ contact.businessCard.email }}"
            size="large"
            badgeText="5"
            badgePosition="bottom right"
            [routerLink]=contact.key>
          </nb-user>
        </nb-list-item>
      </nb-list>
  </nb-card-body>
</nb-card>
