<nb-card>
  <nb-card-header>
    <span>Contact List</span>
    <input type="text" nbInput>
    <button nbButton>Search</button>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
        <nb-list-item *ngFor="let businessCard of businessCards">
          <nb-user
            name="{{ businessCard.firstName + ' ' + businessCard.lastName}}"
            title="{{ businessCard.email }}"
            size="large"
            badgeText="5"
            badgePosition="bottom right"
            routerLink="details">
          </nb-user>
        </nb-list-item>
      </nb-list>
  </nb-card-body>
</nb-card>
